.citation-title {
    font-size: 1.3em;
    font-weight: bold;
    font-style: italic;
    margin: auto;
}

.citation-subtitle {
    font-size: 1.2em;
}
.tc-orange {
    color: #D07449!important;
}
.iconcontact {
    font-size: 1.2em;
    padding-right: 10px;
}
.contact {
    font-size: 1em;
    line-height: 2em;
}